body{
    background-color: black;
}

h1{
    color: blue;
}


img{
    height: 250px;
    width: 350px;
}

.card-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    Color: blue;
    
}

.card-text{
    color: #fff;

}

.card{
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0px 1px 10px rgb(248, 246, 246);
    cursor: default;
    transition: all 300ms ease;
    background-color:black ;
}

h6{
    color: red;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.tabla{
    margin-top:2rem;
    padding-top:2rem;
}

h3{
    color: red;
}

.rounded1{
    border-radius: 200px;
}


button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.containerButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#buttonClaro{
    display: flex;

}

.claro{
    background-color: #fff;
}

.tabla{
    margin-top: 12rem;

}

/*----------------Finalizar Compra-----------------*/



.header-html2 { 
    display: flex;
    align-items: center;
    margin: 0 2rem;
    height: 5rem
}
.header_logo_2{
    width: 9.3rem;
    height: 8rem;
    margin: 0.9rem 0 0;
}
.barra_navegación{
    display: flex;
    margin: 0 1rem;
}
.barra_navegación{
    display: flex;
}
.barra_navegación nav{
    align-items: center;
}
.nav-menu{
    list-style: none;
    flex-direction: row;
}

.nav-menu a{
    display: flex;
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0.5rem;
    margin: 2rem 3rem 1.5rem;

}

.formulario{
    max-width: 40rem;
    padding: 1.5rem;
    margin: 0 auto;
    background-color: rgba(120, 119, 123, 0.3);
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: inset 2px 2px 22px 4px;
}
.formulario h2{
    font-family: 'Bebas Neue', sans-serif;
    color:#fff;
}
.formulario p{
    font-family: 'Poppins', sans-serif;
    color:#fff;
}

.formulario-nombre{
    color: white;
}
